*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

#menu{
  display:none;
}

body{
  background-color: orange;
}

.escapelogostyle{
  height:100px;
  width: 100px;
}

.login{
  height:20px;
  width: 20px;
}

.search{
  height:20px;
  width: 20px;
}

.cart{
  height:20px;
  width: 20px;
}

#my-checkbox{
  display:none;
}

#menu{
  cursor: pointer;
}

#bar1{
  width: 20px;
  height:2px;
  background-color: black;
  position: absolute;
  top:20px;
  left: 20px;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

#bar2{
  width: 20px;
  height:2.5px;
  background-color: black;
  position: absolute;
  top:30px;
  left: 20px;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

.topbar{
  display: flex;
  border: 2px solid black;
  height:60px;
  justify-content: space-between;
  align-items: center;
}

#navitems {
  border: 2px solid orange;
  height: 50px;
}

#navitems a {
   padding: 15px;
   display: inline-block;
}

.rightlogos img{
   margin: 10px;
}

.find{
  color: red;
  visibility: hidden;
  position: absolute;
}

@media only screen and (max-width: 1241px) {
  body {
    background-color: lightblue;
  }

  .topbar{
    height:120px;
  }

#navitems {
  border: 2px solid orange;
  width: 800px;
  height: 90px;
  text-align: center;
}
}

@media only screen and (max-width: 1149px) {
  body {
    background-color: red;
  }

  #navitems {
    border: 2px solid black;
    width: 700px;
    height: 90px;
    text-align: center;
  }
}

@media only screen and (max-width: 1050px) {
  body {
    background-color: brown;
  }

  #navitems {
    border: 2px solid black;
    width: 550px;
    height: 90px;
    text-align: center;
  }
}

@media only screen and (max-width: 908px) {
body{
  background-color: purple;
}

#navitems {
  border: 2px solid black;
  width: 450px;
  height: 90px;
  text-align: center;
}
}

@media only screen and (max-width:790px) {
body{
  background-color: green;
}

.topbar{
  height:170px;
}

#navitems {
  border: 2px solid black;
  width: 400px;
  height: 140px;
  margin-top: -20px;
  text-align: center;
}

.escapelogo img{
  margin-top: 10px;
}

.rightlogos{
  margin-top: 0px;
}
}

@media only screen and (max-width:766px) {
  body{
    background-color: yellow;
    position: relative;
  }

#navitems{
  border: 2px solid black;
  width: 80%;
  text-align: center;
  position: fixed;
  top:0px;
  padding-top: 100px;
  left:-500%;
  background: black;
  height:120%;
}

#navitems a{
  display: block;
  text-align: left;
  color:white;
}

.topbar{
   display: flex;
  border: 2px solid black;
  height:60px;
 justify-content: center;
  align-items: center;
}

.login{
  height:20px;
  width: 20px;
  position: absolute;
  top:11px;
  right:50px;
}

.search{
  height:20px;
  width: 20px;
  display: none;
}

.cart{
  height:20px;
  width: 20px;
  position: absolute;
  right:5px;
  top:12px;
}

#menu{
  display:block;
}

.find{
  color: red;
  visibility: visible;
  position: absolute;
  top: 200px;
  left: 0px;
}

.community{
  position: absolute;
  top:500px;
}

.treks{
  position: absolute;
  top:450px;
}

.past{
  position: absolute;
  top:400px;
}

.upcoming{
  position: absolute;
  top:350px;
}

.pedals{
  position: absolute;
  top:300px;
}

.my{
  position: absolute;
  top:250px;
}
}    /* closing of the media query */

























/* .container img{
  height:100%;
  width:100%;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.heading {
  position: absolute;
  top: 550px;
  left: 600px;
  font-size: 25px;
}
.para {
  position: absolute;
  top: 600px;
  left: 600px;
  font-size: 15px;
  padding-top: 10px;
}
.container2{
  display: flex;
}
.content{
  margin-top: 30px;
  margin-left: 40px;
}
.one{
padding-top: 20px;
}
.two{
padding-top: 20px;
line-height: 2;
}
.insta{
  height:50px;
  width: 50px;
}
.fb{
  height:50px;
  width: 50px;
}
.whats{
  height:50px;
  width: 50px;
}
.footer{
  height: 200px;
  width:100%;
  background-color: black;
  margin-top: 70px;
}
 .terms{
   margin-top: 15px;
 }
.community{
     margin-top: 15px;
}
.copyright{
  color: green;
  margin-top: 20px;
}
.leftside{
  float: left;
  margin-top: 30px;
}
.rightside{
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
.leftside h1{
  color: white;
}
.leftside h4{
  color: white;
}
.leftside h5{
  color: white;
}
.leftside h3{
  color: green;
}
.email{
  color: white;
  margin-top: 15px;
}
@media only screen and (max-width:1100px) {
 .container2{
   color: green;
   flex-direction: column;
 }
} */
