*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

#checkbox2{
  display:none;
}


#checkbox3{
  display:none;
}


#checkbox4{
  display:none;
}
html{
  height: 100vh;
}
.joinusbtn{
  /* display: inline-block; */
  display: none;
  height:50px;
  width:200px;
  background-color: white;
  position: absolute;
  top:50px;
  right: 280px;
  border-radius: 10px;
  /* padding: 50px; */
}

.joinus{

  color: black;
  margin-top: 0px;
  margin-left: 10px;
  display:inline-block;
}

.communityabovediv:hover .joinusbtn {display: inline-block;}
.joinusbtn:hover {background-color: #82b74b;}


.treksitems{
  /* display:flex; */
  display:none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  right:380px;
}


.trekabovediv:hover .treksitems {display: flex;}
.treksitems a:hover {background-color: #82b74b;}








#pastitems{
  /* display:flex; */
  display:none;
  /* justify-content: space-around; */
  width: 200px;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  right:460px;
}


.pastabovediv:hover #pastitems {display: flex;}
#pastitems a:hover {background-color: #82b74b;}






#upcomingitems{
  /* display:flex; */
  display:none;
  /* justify-content: space-around; */
  width: 200px;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  right:600px;
}

.upcomingabovediv:hover #upcomingitems {display: flex;}
#upcomingitems a:hover {background-color: #82b74b;}









#pedalsitems{
  /* display:flex; */
  display:none;
  /* justify-content: space-around; */
  width: 200px;
  flex-direction: column;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  right:720px;
}

.pedalsabovediv:hover #pedalsitems {display: flex;}
#pedalsitems a:hover {background-color: #82b74b;}



#menu{
  display:none;
}

body{
  background-color: orange;
}

.escapelogostyle{
  height:100px;
  width: 100px;
}

.login{
  height:20px;
  width: 20px;
}

.search{
  height:20px;
  width: 20px;
}

#cart{
  height:20px;
  width: 20px;
}

#my-checkbox{
  display:none;
}

#menu{
  cursor: pointer;
}

#bar1{
  width: 20px;
  height:2px;
  background-color: black;
  position: absolute;
  top:20px;
  left: 20px;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

#bar2{
  width: 20px;
  height:2.5px;
  background-color: black;
  position: absolute;
  top:30px;
  left: 20px;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-delay: 0s;
}

.topbar{
  display: flex;
  border: 2px solid black;
  height:60px;
  justify-content: space-between;
  align-items: center;
}

#navitems {
  border: 2px solid orange;
  height: 50px;
}

#navitems a {
   padding: 15px;
   display: inline-block;
   /* display: none; */
   color: black;
}

.rightlogos img{
   margin: 10px;
}

.find{
  color: red;
  visibility: hidden;
  position: absolute;
}

@media only screen and (max-width: 1241px) {
  body {
    background-color: lightblue;
  }

  .topbar{
    height:120px;
  }



  .joinusbtn{
    top:110px;
    right: 480px;
  }



  .treksitems{
    right:150px;
  }


  #pastitems{
    right:220px;
  }


  #upcomingitems{
    right:360px;
  }



  #pedalsitems{
    right:500px;
  }

#navitems {
  border: 2px solid orange;
  width: 800px;
  height: 90px;
  text-align: center;
}
}

@media only screen and (max-width: 1149px) {
  body {
    background-color: red;
  }


  .treksitems{
    right:580px;
  }



  #navitems {
    border: 2px solid black;
    width: 700px;
    height: 90px;
    text-align: center;
  }
}

@media only screen and (max-width: 1050px) {
  body {
    background-color: brown;
  }



  .joinusbtn{
    top:110px;
    right: 300px;
  }



  .treksitems{
    right:400px;
  }



  #pastitems{
    right:500px;
  }


  #upcomingitems{
    right:200px;
  }



  #pedalsitems{
    right:300px;
  }


  #navitems {
    border: 2px solid black;
    width: 550px;
    height: 90px;
    text-align: center;
  }
}

@media only screen and (max-width: 908px) {
body{
  background-color: purple;
}






.joinusbtn{
  top:110px;
  right: 140px;
}


 .treksitems{
  right:240px;
}



#pastitems{
  right:340px;
}


#upcomingitems{
  right:460px;
}



#pedalsitems{
  right:200px;
}







#navitems {
  border: 2px solid black;
  width: 450px;
  height: 90px;
  text-align: center;
}
}

@media only screen and (max-width:790px) {
body{
  background-color: green;
}


.joinusbtn{
  top:140px;
  right: 260px;
}


 .treksitems{
  right:150px;
}



#pastitems{
  right:230px;
}


#upcomingitems{
  right:370px;
}



#pedalsitems{
  right:140px;
}




.topbar{
  height:170px;
}

#navitems {
  border: 2px solid black;
  width: 400px;
  height: 140px;
  margin-top: -20px;
  text-align: center;
}

.escapelogo img{
  margin-top: 10px;
}

.rightlogos{
  margin-top: 0px;
}
}

@media only screen and (max-width:766px) {
  body{
    background-color: yellow;
    position: relative;
  }

#navitems{
  border: 5px solid green  ;
  width: 80%;
  text-align: center;
  position: fixed;
  top:0px;
  margin-top: 0px;
  padding-top: 100px;
  left:-500%;
  background: black;
  /* color: red; */    /*no response*/
  height: 100vh;
  overflow: scroll;


}

#navitems a{
  display: block;
  text-align: left;
}


#navitems .yo{
  color: white;
}



.joinusbtn{
  /* top:110px;
  right: 140px; */
  color: black;
}







.topbar{
   display: flex;
  border: 2px solid black;
  height:60px;
 justify-content: center;
  align-items: center;
}

.login{
  height:20px;
  width: 20px;
  position: absolute;
  top:11px;
  right:50px;
}

.search{
  height:20px;
  width: 20px;
  display: none;
}

#cart{
  height:20px;
  width: 20px;
  position: absolute;
  right:5px;
  top:12px;
}

#menu{
  display:block;
}

.find{
  color: red;
  visibility: visible;
  position: absolute;
  top: 500px;
  left: 0px;
}

.community{
  position: absolute;
  /* top:500px; */
   top:445px;
}

.treks{
  position: absolute;
  /* top:450px; */
  top: 395px;
}

.past{
  position: absolute;
  /* top:400px; */
  top:345px;
   /* overflow: scroll; */
}

.upcoming{
  position: absolute;
  /* top:350px; */
  top:290px;
}

.pedals{
  position: absolute;
  top:245px;
  /* top:500px; */
}

.my{
  position: absolute;
  top:200px;
}

#checkbox2{
  display:none;
}
#pedalsitems{

    /* display:  none !important; */
    visibility: hidden;
}

#upcomingitems{
  visibility: hidden;
}

#pastitems{
  visibility: hidden;
}


/* .pedalsabovediv:hover  {width:100%; left:0; top:280px; display: block;} */



/* .pedalsabovediv:hover+h1{color:green;} */
/* .pedalsabovediv:hover ~ .upcomingabovediv {color: red;} */


/* .pedalsabovediv:hover ~ .upcoming{ top: 390px;} */





/*
.upcomingabovediv:hover #upcomingitems {width:100%; top:500px; left:0px;}
.pastabovediv:hover #pastitems {width:100%; top:590px; left:0px;}
.trekabovediv:hover .treksitems {width:100%; top:1135px; left:0px;}
.communityabovediv:hover .joinusbtn {width:100%; top:1550px; left:0px;} */



}    /* closing of the media query */























/* .container img{
  height:100%;
  width:100%;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.heading {
  position: absolute;
  top: 550px;
  left: 600px;
  font-size: 25px;
}
.para {
  position: absolute;
  top: 600px;
  left: 600px;
  font-size: 15px;
  padding-top: 10px;
}
.container2{
  display: flex;
}
.content{
  margin-top: 30px;
  margin-left: 40px;
}
.one{
padding-top: 20px;
}
.two{
padding-top: 20px;
line-height: 2;
}
.insta{
  height:50px;
  width: 50px;
}
.fb{
  height:50px;
  width: 50px;
}
.whats{
  height:50px;
  width: 50px;
}
.footer{
  height: 200px;
  width:100%;
  background-color: black;
  margin-top: 70px;
}
 .terms{
   margin-top: 15px;
 }
.community{
     margin-top: 15px;
}
.copyright{
  color: green;
  margin-top: 20px;
}
.leftside{
  float: left;
  margin-top: 30px;
}
.rightside{
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}
.leftside h1{
  color: white;
}
.leftside h4{
  color: white;
}
.leftside h5{
  color: white;
}
.leftside h3{
  color: green;
}
.email{
  color: white;
  margin-top: 15px;
}
@media only screen and (max-width:1100px) {
 .container2{
   color: green;
   flex-direction: column;
 }
} */
